@import url("./css/fonts.css");

* {
    font-family: 'DM Sans','sans-serif';
}
            /* SectionFirst */
.main-div{
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
}

.lista-drawer{
    background-color:white;
    width: 100%;
}

@media (min-width: 900px){
    .lista-drawer{
        display:none
    }
}

.first-section{
    background-image: url('/src/assets/img/fondo.svg');
    background-size: cover;
    background-repeat: no-repeat; 
}

.boton-drawer{
    display: none !important;    
}

@media (max-width: 900px){
    .boton-drawer{
        display: block !important;
    }
}

.app-bar{
    position: static !important;        
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0px 120px;
}

@media (max-width: 900px){
    .app-bar{
        padding: 0px 0px;
    }
}

.logo-main{
    width: 130px;    
}

@media (max-width: 900px){
    .logo-main{        
        margin-right: auto;
    }
}

.botones-encabezado{    
    margin: 0px 126px;
}

@media (max-width: 1021px){
    .botones-encabezado{
        margin: 0px 0px;
    }
}

@media (max-width: 900px){
    .botones-encabezado{
        display: none;
    }
}

@media (max-width: 425px){
    .boton-join{
        display: none !important;
    }
}

.first-section2{
    padding-bottom: 100px;
}

.caja{
    width: 35%;    
    margin-top: 60px;
    margin-left: 130px;
    background-color: rgba(255, 255, 255, 0.93);    
}

@media (max-width: 900px) {
    .caja{
               
        margin-left: 0;
        width: 50%;
    }
}

@media (max-width: 700px) {
    .caja{
               
        margin-left: 0;
        width: 70%;
    }
}

@media (max-width: 450px) {
    .caja{
        align-items: center;       
        justify-content: center;
        margin: auto;
        margin-top: 100px;
        width: 90%;
    }
}

.contenido-caja{
    padding: 15px 20px;
}

.contenido-caja .primer-p{
    font-size: 32px;
    font-weight: 900;     
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}

@media (max-width: 900px){
    .contenido-caja .primer-p{
        font-size: 18px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    }
}

@media (max-width: 550px){
    .contenido-caja .primer-p{
        font-size: 18px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    }
}

.contenido-caja .segundo-p{
    font-size: 15px;
    line-height: 30px;     
    margin: 15px 0px;
}

@media (max-width: 550px){
    .contenido-caja .segundo-p{
        font-size: 10px;
        line-height: 20px;          
    }
}


            /* SectionTwo */
.box-section2{
    display: flex;
    justify-content: center;
    align-items: center;                
    flex-direction: column;
    padding: 0px 260px;
    margin-top: 30px;
}

@media (max-width: 1200px) {
    .box-section2{
        padding: 0px 120px;
    }
}

@media (max-width: 900px) {
    .box-section2{
        padding: 0px 0px;
    }
}

@media (max-width: 900px) {
    .box-section2{
        padding: 0px 0px;
    }
}

@media (max-width: 570px) {
    .box-section2{
        padding: 0px 0px;
    }
}

.parrafo1{                    
    font-size: 14px !important
}

@media (max-width: 570px) {
    .box-section2 .parrafo1 {
        font-size: 10px !important;        
    }
}

.parrafo2{
    margin: 10px 100px 40px 100px;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 570px) {
    .box-section2 .parrafo2 {
        font-size: 15px;
        margin: 5px 60px;
        margin-bottom: 15px;
    }
}

@media (max-width: 360px) {
    .box-section2 .parrafo2 {
        margin: 5px 0px;
        margin-bottom: 15px;
    }
}

.div-logos{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;      
}

.div-logos img{
    width: 90px;
    margin: 20px 15px;
}

.box-good-place{
    display: flex;
    justify-content: space-between;                
    padding: 100px;
    position: relative
}

.box-right{
    position: relative;
}

.box-good-place .card-small{
    width: 30%;
}

.box-good-place .second-card-small{
    margin: 0px 10%;
}

.box-good-place .sub-title-card-small{
    font-size: 12px !important
}

@media (max-width : 370px) {
    .box-good-place .title-card-small{
        font-size: 14px !important
    }   
    
    .box-good-place .sub-title-card-small{
        font-size: 10px !important
    }    
}

.box-good-place .box-right .img-side-box-right{
    width: 450px;
    aspect-ratio: 1;
}

.title-box-left{
    font-size: 37px !important;                    
    margin-right: 50px !important;
}

.sub-title-box-left{
    font-size: 16px !important;                    
    margin-right: 50px !important;
    margin-top: 20px !important;
}

.floating-purple-card{
    position: absolute;
    top: 6%;
    left: -8%;
    width: 215px; 
    height: 80px;
    display: flex;
    padding: 10px
}

.floating-purple-card .img-play{
    width: 40px;
    aspect-ratio: 1;
    margin-right: 16px;
}

.floating-purple-card .title-cpurple{
    font-size: 13px !important;
}

.floating-purple-card .sub-title-cpurple{
    font-size: 11px !important;
}

@media (max-width : 1199px) {
    .box-good-place{
        padding: 100px 0px;
    }
}

@media (max-width : 899px) {
    .box-good-place{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .box-good-place .box-right {
        width: 100%;
    }
    .box-good-place .box-right .img-side-box-right{
        margin-top: 60px;
        width: 100%;
        aspect-ratio: 1;
    }
    .box-good-place .box-left {
        width: 100%;
    }
    .floating-purple-card{
        top: 18%;
        left: -4%;
    }
}

@media (max-width : 626px) {
    .floating-purple-card{
        top: 18%;
        left: -2%;
    }
}


@media (max-width : 550px) {
    .floating-purple-card{
        top: 18%;
        left: -5px;
        width: 215px; 
        height: 80px;
    }
}

@media (max-width : 430px) {
    .floating-purple-card{
        top: 80px;
        left: -5px;
        width: 195px; 
        height: 60px;
    }

    .floating-purple-card .img-play{
        width: 30px;
        margin-right: 12px;
    }
    
    .floating-purple-card .title-cpurple{
        font-size: 11px !important;
    }
    
    .floating-purple-card .sub-title-cpurple{
        font-size: 10px !important;
    }
}

@media (max-width: 570px) {
    .title-box-left{
        font-size: 27px !important;     
        margin-right: 0px !important;
    }
    
    .sub-title-box-left{
        font-size: 14px !important;    
        margin-right: 0px !important;  
    }
    
}


        /* SectionThree */
.div-sectionThree{    
    margin-bottom: 80px;
    width: 100%;    
}

@media (max-width: 900px) {
    .div-sectionThree{
        padding: 0px 0px;
    }
}

.typography1{
    color: rgba(141, 68, 139, 1);    
    justify-content: center;
    display: flex;
    font-size: 15px !important;
}

@media (max-width: 570px){
    .div-sectionThree .typography1{
        font-size: 12px !important;
    }
}

.typography2{
    justify-content: center;
    display: flex;
    font-size: 20px !important;
}

@media (max-width: 570px){
    .div-sectionThree .typography2{
        font-size: 15px !important;
    }
}

.img-monda{    
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

@media (max-width:600px){
    .img-monda img{
        width:100%;
        margin-bottom: 10px;
    }
}

@media (max-width:600px){
    .img-monda{
        flex-direction: column;
    }
}

.button-caja3{
    margin-top: 10px !important;
    text-transform: capitalize !important;    
}





        /* SectionFour */
.four-section{
    background-color: rgba(2, 7, 24, 1);    
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.four-section2{
    padding: 60px 120px;
}

@media (max-width: 1201px){
    .four-section2{
        padding: 60px 0px;
    }
}

@media (max-width: 900px){
    .four-section2{
        padding: 30px 0px;
    }
}

.typography3{
    display: flex;
    justify-content: center;    
    font-size: 15px !important;
    color: rgba(255, 255, 255, 1);    
}

.typography4{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px !important;
    margin-bottom: 50px !important;
    font-size: 27px !important;
    color: rgba(255, 255, 255, 1);
}

.div-botones{
    width: 220px;
    margin: auto;      
    display: flex;
    justify-content: center;
    height: 48px;
    border: 1px solid rgba(243, 244, 245, 0.1);
    border-radius: 5px;
}

.boton-monthly{
    margin-top:"4px";
    background-color: white !important;
    color: black !important; 
}

.div-four-section{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin: 35px;
    font: white;    
}

@media (max-width: 900px){
    .div-four-section{
        display: flex;
        flex-direction: column;
    }
}

.card1{ 
    width: 49%;    
    padding-top: 20px;    
    background-color: transparent !important;
    border: 1px solid rgba(243, 244, 245, 0.1);
}

@media (max-width: 900px){
    .card1{
        width: 100%;
        margin-bottom: 20px;
    }
}

.lista{
    color: white;
    font-size: 9px;
}

.list-item-icon-card{
    min-width: 56px;
}

@media (max-width: 550px){
    .list-item-icon-card{
        min-width: 30px !important;
    }
}

.list-item-text{
    font-size: 30px !important;
}

@media (max-width: 425px){
    .list-item-text{
        font-size: 10px !important;
    }
}

.div-price1-1{
    width: 100%;
    height: 120px;    
}

.div-price1-2{
    padding: 35px 20px;
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
}

.card2{      
    width: 49%;       
}

@media (max-width: 900px){
    .card2{
        width: 100%;        
    }
}

.content-card2{
    margin-top: 20px;    
}

.div-price2-1{
    width: 100%;
    height: 120px;
    background-color: rgba(240, 240, 245, 1);
}

.div-price2-2{
    padding: 35px 20px;
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
}




            /* SectionFive */
.primer-div{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;    
}

@media (max-width: 1200px) {
    .primer-div{
        padding: 0px 80px;        
    }
}

@media (max-width: 900px) {
    .primer-div{
        padding: 0px 0px;        
    }
}

@media (max-width: 800px) {
    .primer-div{      
        flex-direction: column;
        align-items: center;
    }
}
                
.img1{
    width: 100%;
    height: 100%;
}

@media (max-width: 1200px){
    .primer-div .img1{
        width: 100%;
    }
}

@media (max-width: 900px){
    .primer-div .img1{
        width: 90%;
    }
}

@media (max-width: 900px){
    .primer-div .img1{
        width: 100%;
    }
}

.segundo-div{
    width: 50%;
    height: 50%;
}

@media (max-width: 800px){
    .segundo-div{
        width: 90%;
    }
}

.primer-p{
    font-size: 30px;
    font-weight: 500;
}

@media (max-width: 1200px) {
    .primer-div .primer-p {
        font-size: 25px;
    }
}

@media (max-width: 900px) {
    .primer-div .primer-p {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .primer-div .primer-p {
        font-size: 25px;
    }
}

@media (max-width: 590px) {
    .primer-div .primer-p {
        font-size: 13px;
        font-weight: 600;
    }
}

.segundo-p{
    font-size: 17px;
}

@media (max-width: 900px) {
    .primer-div .segundo-p {
        font-size: 14px;
    }
}

@media (max-width: 590px) {
    .primer-div .segundo-p {
        font-size: 10px;
    }
}

.div-blogpost{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.tercer-p{
    margin-top: 30px;
    font-size: 15px;
    color: rgba(141, 68, 139, 1);
    font-weight: 500;
}

.cuarto-p{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 23px;
}

@media (max-width: 460px) {
    .div-blogpost .cuarto-p{
        font-size: 17px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
}

.div-card{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .div-card{       
        flex-direction: column;
        align-items: center;
        align-content: center;      
    }
}

@media (max-width: 800px) {
    .div-card img{
        width: 100%;
    }
}

.card1-sectionFive{
    width: 33%;
    height: 33%;
    box-shadow: none !important;    
}

@media (max-width: 800px) {
    .card1-sectionFive{
        width: 80vw;
    }
}

.boton-card{
    color: grey !important;
}

.pie{
    background-color: rgba(2, 7, 24, 1); 
}

.dividivi{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;    
}

.p-end-1{
    margin-bottom: 10px;
    font-size: 30px;
    color: white;
}

@media (max-width: 445px) {
    .dividivi-p .p-end-1{
        font-size: 23px;
    }
}

.p-end-2{    
    margin-bottom: 50px;
    font-size: 12px;
    color: gray;
}

.dividivi-2{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 360px;
}

@media (max-width: 1200px) {
    .dividivi .dividivi-2{
        padding: 0px 210px;
    }
}

@media (max-width: 900px) {
    .dividivi .dividivi-2{
        padding: 0px 60px;
    }
}

@media (max-width: 570px) {
    .dividivi .dividivi-2{
        padding: 0px 40px;
    }
}

@media (max-width: 480px) {
    .dividivi .dividivi-2{
        padding: 0px 0px;        
        align-items: center;
    }
}

.texfield{
    width: 300px !important;
    height: 50px !important;   
    border-radius: 1% !important;
}

.boton-end{
    width: 120px;
    height: 50px;
    
    color: rgba(2, 7, 24, 1) !important;
    background-color: white !important;
    text-transform: none !important;
}

@media (max-width: 400px) {
    .boton-end{
        font-size: 12px !important;
    }
}

.dividivider{
    margin-top: 100px !important;
    margin-left: 100px !important; 
    width: 81%;
    background-color: rgba(255, 255, 255, 0.2);    
}

@media (max-width: 1200px) {
    .dividivider{
        margin-left: 9px !important;        
        width: 91%;
    }
}

/* @media (max-width: 900px) {
    .dividivider{
        margin-left: 0px;
    }
} */

.dividivi-3{
    padding: 0px 100px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .dividivi-3{
        padding: 0px 0px;
    }
}

.dividivi-4{
    display: flex;
}

@media (max-width: 595px){
    .dividivi-3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.logo{
    width: 170px;
    height: 37px;
}

@media (max-width: 600px){
    .logo{
        display: none;
    }
}

.p-end-3{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5)
}

.boton-end-2{
    text-transform: none !important;
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.5) !important;
}