@import url("./css/fonts.css");

* {
    font-family: 'DM Sans','sans-serif';
}

.main-div{
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
}

.first-section{
    background-size: auto; 
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}


.first-section2{
    margin-left: 130px;
    margin-right: 110px;   
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.box-good-place{
    display: flex;
    justify-content: space-between;                
    padding: 100px;
    position: relative
}

.box-right{
    position: relative;
}

.box-good-place .card-small{
    width: 30%;
}

.box-good-place .second-card-small{
    margin: 0px 10%;
}

.box-good-place .sub-title-card-small{
    font-size: 12px !important
}

@media (max-width : 370px) {
    .box-good-place .title-card-small{
        font-size: 14px !important
    }   
    
    .box-good-place .sub-title-card-small{
        font-size: 10px !important
    }    
}

.box-good-place .box-right .img-side-box-right{
    width: 450px;
    aspect-ratio: 1;
}

.title-box-left{
    font-size: 37px !important;                    
    margin-right: 50px !important;
}

.sub-title-box-left{
    font-size: 16px !important;                    
    margin-right: 50px !important;
    margin-top: 20px !important;
}

.floating-purple-card{
    position: absolute;
    top: 6%;
    left: -8%;
    width: 215px; 
    height: 80px;
    display: flex;
    padding: 10px
}

.floating-purple-card .img-play{
    width: 40px;
    aspect-ratio: 1;
    margin-right: 16px;
}

.floating-purple-card .title-cpurple{
    font-size: 13px !important;
}

.floating-purple-card .sub-title-cpurple{
    font-size: 11px !important;
}

@media (max-width : 1199px) {
    .box-good-place{
        padding: 100px 0px;
    }
}

@media (max-width : 899px) {
    .box-good-place{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .box-good-place .box-right {
        width: 100%;
    }
    .box-good-place .box-right .img-side-box-right{
        margin-top: 60px;
        width: 100%;
        aspect-ratio: 1;
    }
    .box-good-place .box-left {
        width: 100%;
    }
    .floating-purple-card{
        top: 18%;
        left: -4%;
    }
}

@media (max-width : 626px) {
    .floating-purple-card{
        top: 18%;
        left: -2%;
    }
}


@media (max-width : 550px) {
    .floating-purple-card{
        top: 18%;
        left: -5px;
        width: 215px; 
        height: 80px;
    }
}

@media (max-width : 430px) {
    .floating-purple-card{
        top: 80px;
        left: -5px;
        width: 195px; 
        height: 60px;
    }

    .floating-purple-card .img-play{
        width: 30px;
        margin-right: 12px;
    }
    
    .floating-purple-card .title-cpurple{
        font-size: 11px !important;
    }
    
    .floating-purple-card .sub-title-cpurple{
        font-size: 10px !important;
    }
}

@media (max-width : 570px) {
    .title-box-left{
        font-size: 27px !important;     
        margin-right: 0px !important;
    }
    
    .sub-title-box-left{
        font-size: 14px !important;    
        margin-right: 0px !important;  
    }
    
}


        /* SectionThree */
.div-sectionThree{
    padding: 0 100px;
    margin-bottom: 80px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.typography1{
    color: rgba(141, 68, 139, 1);    
    justify-content: center;
    display: flex;
    font-size: 18px;
}

.typography2{
    justify-content: center;
    display: flex;
    font-size: 30px;
}

.img{    
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.button-caja3{
    margin-top: 10px !important;
    text-transform: capitalize !important;    
}





        /* SectionFour */
.four-section{
    background-color: rgba(2, 7, 24, 1);    
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.four-section2{
    padding: 60px 120px;
}

.typography3{
    display: flex;
    justify-content: center;    
    font-size: 15px !important;
    color: rgba(255, 255, 255, 1);    
}

.typography4{
    display: flex;
    justify-content: center;
    margin-top: 20px !important;
    margin-bottom: 50px !important;
    font-size: 27px !important;
    color: rgba(255, 255, 255, 1);
}

.div-botones{
    margin: 0 38%;      
    display: flex;
    justify-content: center;
    height: 48px;
    border: 1px solid rgba(243, 244, 245, 0.1);
    border-radius: 5px;
}

.boton-monthly{
    margin-top:"4px";
    background-color: white !important;
    color: black !important; 
}

.div-four-section{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin: 35px;
    font: white;    
}

.card1{ 
    width: 49%;    
    padding-top: 20px;
    padding-left: 0px;
    background-color: transparent !important;
    border: 1px solid rgba(243, 244, 245, 0.1);
}

.lista{
    color: white;
    font-size: 9px;
}

.div-price1-1{
    width: 100%;
    height: 120px;    
}

.div-price1-2{
    padding: 35px 20px;
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
}

.card2{      
    width: 49%;       
}

.content-card2{
    margin-top: 20px;
    margin-left: 0px;
}

.div-price2-1{
    width: 100%;
    height: 120px;
    background-color: rgba(240, 240, 245, 1);
}

.div-price2-2{
    padding: 35px 20px;
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
}




            /* SectionFive */
.primer-div{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
                
.img1{
    width: 500px;
    height: 100%;
}

.segundo-div{
    width: 400px;
    height: 300px;
}

.primer-p{
    font-size: 34px;
}

.segundo-p{
    font-size: 17px;
}

.div-blogpost{
    display: flex;
    text-align: center;
    align-items: center;
flex-direction: column;
}

.tercer-p{
    margin-top: 30px;
    font-size: 15px;
    color: rgba(141, 68, 139, 1);
    font-weight: 500;
}

.cuarto-p{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 23px;
}

.div-card{
    display: flex;
    justify-content: space-between;
}

.boton-card{
    color: grey !important;
}

.dividivi{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(2, 7, 24, 1); 
}

.p-end-1{
    margin-bottom: 10px;
    font-size: 30px;
    color: white;
}

.p-end-2{    
    margin-bottom: 50px;
    font-size: 12px;
    color: gray;
}

.dividivi-2{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 360px;
}

.texfield{
    width: 300px !important;
    height: 50px !important;   
    border-radius: 1% !important;
}

.boton-end{
    width: 120px;
    height: 50px;
    
    color: rgba(2, 7, 24, 1) !important;
    background-color: white !important;
    text-transform: none !important;
}

.dividivider{
    margin-top: 100px !important;
    margin-left: 100px !important; 
    margin-right: 100px !important;

    width: 930px;
    
    background-color: rgba(255, 255, 255, 0.2);    
}

.dividivi-3{
    padding: 0px 100px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.dividivi-4{
    display: flex;
}

.logo{
    width: 170px;
    height: 37px;
}

.p-end-3{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5)
}

.boton-end-2{
    text-transform: none !important;
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.5) !important;
}